<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Bihar Jobs</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css">
</head>
<body>
    <h1>Bihar Jobs Information</h1>
    {% if jobs_list %}
      <table border="2">
        <thead>
            <th>Date</th>
            <th>Company</th>
            <th>Title</th>
            <th>Eligibility</th>
            <th>Address</th>
            <th>Email Address</th>
            <th>Phone Number</th>
        </thead>
        {% for job in jobs_list %}
          <tbody>
              <tr>
                  <td>{{job.date}}</td>
                  <td>{{job.company}}</td>
                  <td>{{job.title}}</td>
                  <td>{{job.eligibility}}</td>
                  <td>{{job.address}}</td>
                  <td>{{job.email}}</td>
                  <td>{{job.phonenumber}}</td>
              </tr>
          </tbody>
        {% endfor %}
      </table>
      {% else %}
        <p>No jobs available in Bihar currently.</p>
      {% endif %}
</body>
</html>